# Dependencias
node_modules/

# Arquivos de build
dist/
build/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Arquivos de ambiente
.env
.env.local
.env.*.local
